*{
    margin: 0;
    padding: 0;
    
}

body{
    background-color: lightblue;
    
}
img{
    
    width: 500px;
    height: 380px;
    float: right;
       
}

#objpos {
    position: relative;
    right: 5px;
    bottom: 150px;
}

#image{
    width: 160px;
    height: 150px; 
    position: relative;
    margin: -48px;
    right: 1270px;
}
.button1{
              position: relative;
              left: 170px;
              font-family: monospace;
              padding: 16px 32px;
              text-align: center;
              text-decoration: none;
              display: inline;
              font-size: 20px;
              margin: 4px 2px;
              transition-duration: 0.2s;
              cursor: pointer;
              border-radius: 50px;
                
            }
.button1 {
              background-color: salmon; 
              color: black; 
              border: 2px solid coral;
              box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
            }
            
.button1:hover {
                  background-color:white;
                  color: black; }
            
            
.button2{
              position: relative;
              left: 200px;
              font-family: monospace;
              color: orange;
              padding: 16px 32px;
              text-align: center;
              text-decoration: none;
              display: inline;
              font-size: 20px;
              margin: 4px 2px;
              transition-duration: 0.2s;
              cursor: pointer;
              border-radius: 50px;
                
            }
.button2 {
              background-color: salmon; 
              color: black; 
              border: 2px solid coral ;
              box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
            }
            
.button2:hover {
                  background-color:white;
                  color: black; }
            
.button3{
              position: relative;
              left: 230px;  
              font-family: monospace;
              padding: 16px 32px;
              text-align: center;
              text-decoration: none;
              display: inline;
              font-size: 20px;
              margin: 4px 2px;
              transition-duration: 0.2s;
              cursor: pointer;
              border-radius: 50px;
                
            }
.button3 {
              background-color: salmon; 
              color: black; 
              border: 2px solid coral;
              box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
            }
            
.button3:hover {
                  background-color:white;
                  color: black; }
            

.button4{
              position: relative;
              left: 260px;  
              font-family: monospace;
              padding: 16px 32px;
              text-align: center;
              text-decoration: none;
              display: inline;
              font-size: 20px;
              margin: 4px 2px;
              transition-duration: 0.2s;
              cursor: pointer;
              border-radius: 50px;
                
            }
.button4 {
              background-color: salmon; 
              color: black; 
              border: 2px solid coral;
              box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
            }
            
.button4:hover {
                  background-color:white;
                  color: black; }

.button5{
              position: relative;
              left: 480px;  
              font-family: monospace;
              padding: 20px 50px;
              text-align: center;
              text-decoration: none;
              display: inline;
              font-size: 22px;
              margin: 3px ;
              transition-duration: 0.2s;
              cursor: grabbing;
              border-radius: 20px;
              width: 200px;
                
            }
.button5 {
              background-color: mediumseagreen; 
              color: whitesmoke; 
              border: 2px solid white;
              box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
            }
            
.button5:hover {
                  background-color:white;
                  color: green; 
                  border-color: green;
}
            
h1.header{
                position: relative;
                left: 10px;
                top: 100px;
                font-size: 80px;
                color: white;
                border: 2px ;
                border-style: dashed;
                border-radius: 50px;
                white-space: pre;
                border-width: 5px;
                width: 98%;
                font-family: monospace;
                
            }
p.pos{
                position: relative;
                left: 100px;
                top: 170px;
                font-size: 20px;
                white-space: pre-line;
            }
            
.first{
                background-color: white;
                background-position: bottom;
                background-size: contain;
                padding: 40px;
            
            }
            
.intro{
                position: relative;
                bottom: 10px;
                font-family: fantasy;
                background-image: linear-gradient(white,lightblue 30%);

            }
form{
    
    font-family: monospace;
    font-size: 17px;
    
}

.sub{
    font-size: 17px;
    background-color: darksalmon;
    color: black;
    border-radius: 12px;
    border: 2px solid darksalmon;
    width: 90px;
    padding: 8px 9px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}
.sub:hover{
    background-color: skyblue;
    border-color: aliceblue;
    color: white;
}

h3{
    font-family: monospace;
    font-size: 18px;
    position: relative;
    bottom: 10px;
}

.user{
    position: relative;
    top: 600px;
    left: 500px;
    background-color: ghostwhite;
    text-align: center;
    width: 400px;
    box-sizing: border-box;
    padding: 50px;
    box-shadow: 10px 10px 20px;
    border-radius: 12px;
    border-style: solid;
    border-width: 5px;
    border-color: black;
}

.appstore{
    position: relative;
    left: 200px;
    top: 240px;
    font-size: 20px;
    width: 300px;
    padding: 14px;
    color: white;
    background-color: black;
    border-radius: 15px;
    cursor: pointer;
}
.playstore{
    position: relative;
    left: 270px;
    top: 240px;
    font-size: 20px;
    width: 300px;
    padding: 14px;
    color: black;
    background-color: salmon;
    border-radius: 15px;
    border-color: darksalmon;
    cursor: pointer;
}

.vid_box{
    position: relative;
    left: 400px;
    top: 40;
}

.vid{
    position: relative;
    font-size: 28;
    color: cornflowerblue;
    text-decoration-style: double;
    font-family: sans-serif;  
}
.video{
    background-color: white;
    position: relative;
    top: 400;
    padding: 60 40 100;
}
.petmap{
    padding: 60 50 30;
    position: relative;
    left: 500px;
    top: 400px;
}
.petmaptitle{
    background-image: linear-gradient(white,lightblue 30%);
    position: relative;
    font-family:monospace;
    left: 90px;
    top: 320px;
    color: orange;
}
.button6{
              position: relative;
              left: 100px;  
              top: 700px;
              padding: 10px 50px;
             font-family: monospace;
              text-align: center;
              text-decoration: none;
              display: inline;
              font-size: 22px;
              margin: 30px ;
              transition-duration: 0.2s;
              cursor: grabbing;
              border-radius: 20px;
              width: 300px;
                
            }
.button6 {
              background-color: forestgreen; 
              color: whitesmoke; 
              box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 black;
            }
            
.button6:hover {
                  background-color:orange;
                  color: black; 
}
